* {
    padding : 0;
    margin : 0;
}

:root{
    --primary : #0ca453;
    --secondary : #98d1a7;
    --tertiary : #d5fadc;
    --quaternary : #a9a6dc;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
}

.img, .form{
    width: calc(100%/2);
}

.img img{
    width: 90%;
    height: 100%;
}