* {
    margin: 0;
    padding: 0;
}

:root{
    --primary : #0ca453;
    --secondary : #98d1a7;
    --tertiary : #d5fadc;
    --quaternary : #a9a6dc;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

/* navbar */

.navbar {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    background: white;
    z-index: 10;
    transition: 0.3s;
    justify-content: space-between;
}
header .logo img{
    height: 84px;
    width: 208px;
    margin-left: 20px;
}
header ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

header ul li p {
    font-weight: bold;
    color: gray;
    margin-top: 11px;
    padding: 5px;
}

header ul li{
    padding: 5px;
    margin: 0 35px;
}

header ul li a{
    text-decoration: none;
}

header ul li p:hover{
    color: black;
    transition: 0.75s;
}

.nav ul li .user{
    display: flex;
}

header ul li .user p{
    width: 120px;
    color: rgba(38, 38, 38, 0.9);
}
.user img{
    width: 60px;
    margin-right: 10px;
}
header ul li .user p:hover{
    color: var(--primary);
    transition: 0.75s;
}
/* image details */
.image-details {
    display: flex;
    gap: 20px;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
}

.image-detail-relative {
    position: relative;
}

.image-detail-relative p {
    position: absolute;
    top: 95px;
    left: 75px;
    color: white;
    width: 88px;
    height: 68px;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
}

.review-details {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}

.review-details .review-detail-title {
    width: 336px;
    height: 48px;
}

.review-details .review-detail-title h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px
}

.review-details .review-detail-city {
    width: 290px;
    height: 33px;
}

.review-details .review-detail-city h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: var(--primary);
}

.review-details .review-rating img {
    margin: 10px 0px 0px 80px;
}

.review-details .review-rating  .favorite{
    display: flex;
    gap: 12px;
}

.sr-only {
    padding: 0;
    margin: -1px;
    display: flex;
    border: 0;
    display: none;
}
.container-favorite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100%;
}
.container-favorite fieldset {
    border: none;
    text-align: center;
}
.container-favorite label {
    background-color: transparent;
    color: white;
    display: inline-block;
    position: relative;
    font-size: 22px;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    align-self: center;
}
.container-favorite [type=checkbox]:checked + label {
    color: red;
}
.review-details .review-rating .favorite p{
    font-size: 20px;
    color: #262626;
    align-self: center;
}
.review-details .review-rating p{
    text-align: right;
    font-size: 18px;
}

.review-description {
    margin: 30px 150px;
    padding-bottom: 30px;
    text-align: justify;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--primary);
}

.map-information {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--primary);
}

.map-information .map .position-information {
    margin-top: 10px;
    display: flex;
}

.map-information .map .position-information p{
    text-decoration: none;
    color: var(--primary);
}

.additional-map-information .additional-map-information-details {
    padding-left: 20px;
    padding-top: 10px;
}

/* reservation button */

.reservation{
    display: flex;
    background: #0CA453;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    align-items: center;
    margin: 180px 0px 0px 55px;
    padding: 2px 70px;
    cursor: pointer;
}

.reservation:hover{
    background: #078140;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
    transition: 0.75s;
}

.reservation p{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}

/* overlay */

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.pop-up {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 720px;
    height: 474px;
    background-color: white;
    border-radius: 15px;
    color: black;
    display:none;
    position:inherit;
    animation: swipe-in;
    animation-duration: 0.5s;
    z-index: 12;
}
.pop-up i{
    font-size: 24px;
    cursor: pointer;
    color: grey;
    position: absolute;
    top: 20px;
    right: 20px;
}
.pop-up i:hover{
    color: red;
    transition: 0.5s;
}
.pop-up .pop-up-details {
    margin: 20px;
}

.pop-up .pop-up-details h1 {
    padding-bottom: 10px;
    width: auto;
    height: 40.25px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--primary);
}

.pop-up-details form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    position: relative;
}
.pop-up-details form .notice{
    position: absolute;
    color: red;
    margin-left: 10px;
    margin-top: 265px;
}

.pop-up-details form label {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    width: 100px;
    height: 20px;
}

.pop-up-details form input {
    width: 307px;
    height: 40px;
    border: 1px solid #2C2C2C;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 0px 0px 0px 10px;
}

.pop-up-details p {
    width: auto;
    height: 18px;   
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary);
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.pop-up-details p span{
    color: #ED3838;
}

.pop-up-details button {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    border-radius: 7px;
    padding-top: 10px;
}

.pop-up-details button:hover {
    background-color: #078140;
    transition: 0.75s;
}

@keyframes swipe-in {
    0% {
        right: 0%;
    }
    100% {
        right: 50%;
    }
}

@keyframes swipe-out {
    0% {
        right: 50%;
    }
    100% {
        right: -30%;
    }
}

/* review */

.review {
    margin: 30px 150px;
}

.review-title {
    margin: 30px 0px;
}

.user-review {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.user-review-box {
    width: 300px;
    height: 295px;
    box-shadow: 2px 7px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 20px;
}

.user-information {
    display: flex;
    margin-bottom: 30px;
}

.user-information .user {
    flex-direction: column;
    margin-left: 20px;
}

.user-information .user h2{
    width: 197.91px;
    height: 33px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.user-review-box .date {
    margin-top: 120px;
    color: var(--primary);
}

/* Recomendation */

.recomendation {
    margin: 40px 0px 80px 150px;
}

.recomendation-title {
    margin: 40px 0px 30px 0px;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
    background: #f2f2f2;
}
.wrapper i:first-child{
    left: -22px;
    display: none;
}
.wrapper i:last-child{
    right: -22px;
}

.wrapper .destination-recomendation-box{
    cursor: pointer;
    overflow: hidden;
}
.destination-recomendation-box.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel .dragging .recomendation-box{
    pointer-events: none;
}
.carousel .recomendation-box{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel .recomendation-box:first-child{
    margin-left: 0px;
}

/* tour recomendation & food recomendation */

.tour-recomendation-title, .tour-destination-recomendation-box,
.food-recomendation-title, .food-destination-recomendation-box{
    margin: 0 10% 0 0;
}

.tour-recomendation-title,
.food-recomendation-title{
    padding-top: 40px;
}

.tour-recomendation-title h1,
.food-recomendation-title h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: white;
    padding: 50px 0;
}

.food-recomendation-title h1{
    color: black;
}

.tour-destination-recomendation-box,
.food-destination-recomendation-box{
    display: flex; 
    gap: 30px;
    padding-bottom: 10px;
}

.tour-recomendation-box,
.food-recomendation-box{
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tour-recomendation-box-detail,
.food-recomendation-box-detail {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.tour-recomendation-box-detail h3,
.food-recomendation-box-detail h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #2C2C2C;
    margin-bottom: 10px;
}

.tour-recomendation-box-detail p,
.food-recomendation-box-detail p {
    width: 290px;
}

.tour-recomendation-box-detail .location,
.food-recomendation-box-detail .location {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0CA453;
    margin-bottom: 10px;
}

.tour-recomendation-box-detail .description,
.food-recomendation-box-detail .description {
    margin-right: 10px;
    width: auto;
    height: 150px;
    text-align: justify;
}

.wrapper .tour-destination-recomendation-box,
.wrapper .food-destination-recomendation-box{
    cursor: pointer;
    overflow: hidden;
}
.tour-destination-recomendation-box.dragging,
.food-destination-recomendation-box.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel .dragging .tour-recomendation-box,
.carousel .dragging .food-recomendation-box{
    pointer-events: none;
}
.carousel .tour-recomendation-box,
.carousel .food-recomendation-box{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel .tour-recomendation-box:first-child,
.carousel .food-recomendation-box:first-child{
    margin-left: 0px;
}

/* detail button */

.detail {
    border: 2px solid #0ca453;
    border-radius:  10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0CA453;
    padding: 5px 24px;
    text-decoration: none;
}

.tour-recomendation-box-detail-bottom .detail,
.food-recomendation-box-detail-bottom .detail{
    margin-left: 40px;
}

.recomendation-box-detail-bottom .detail{
    margin-left: 40px;
}

.detail:hover{
    background-color: #0CA453;
    color: white;
    transition: 0.75s;
}

.tour-recomendation-box-detail-bottom-rating p,
.food-recomendation-box-detail-bottom-rating p{
    font-size: 16px;
    margin: 5px 0 0 10px;
    width: 130px;
}

.recomendation-box-detail-bottom-rating p{
    width: 60px;
}

/* footer */

.footer1{
    display: flex;
    height: 210px;
    background: #D5FADC;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    padding: 0px 140px;
}

.foto-footer {
    width: 351px;
    height: 210px;
}

.logo-footer{
    width: 237px;
    padding: 0px 57px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-beatiful {
    display: flex;
    justify-content: space-between;
}

.beautiful1{
    width: 100px;
}
.beautiful2{
    width: 105px;
}
.beautiful3{
    width: 118px;
}
.footer1 h5{
    font-size: 24px;
    color: #2C2C2C;
    margin-bottom: 10px;
}

.box-information {
    display: flex;
    margin-top: 30px;
}

.box-information-detail-1 {
    margin-right: 150px;
}

.box-information ul{
    list-style: none;
}
.box-information ul li a{
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: rgba(38, 38, 38, 0.5);
    margin-bottom: 2px;
}
.box-information ul li :hover{
    color: #2C2C2C;
    transition: 0.75s;
}
.box-information p{
    width: 204.75px;
    font-size: 14px;
    text-align: justify;
    color: rgba(38, 38, 38, 0.5);
}

.box-information a{
    text-decoration: none;
    color: rgba(38, 38, 38, 0.5);
}
.footer2{
    width: 100%;
    height: 60px;
    background: #0CA453;
}
.footer2 p{
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}
